.btn { 
  padding: 18px 19px 17px; 
  font-size: 18px; 
  line-height: 25px;
  color: $white;
  border: 0;
  text-align: center; 
  width: 100%;
  max-width: 270px;
  background: $blue;
  white-space: nowrap; 
  transition: background 300ms ease;

  &:hover {
    background: #2971a5;
  }
  &:disabled,&[disabled], &:disabled:hover, &:disabled:focus {

  }
}
