mixin header()
    header.header
        button.btn-mob(type="button")
        .center
            include ./logo/logo
            .header__right
                include ./info/info
                include ./menu/menu